@import "tailwindcss";

@theme {
  --color-brand-navy: #0f346c;
  --color-brand-green: #4caf50;
  --color-brand-light: #f8fafc;
  --color-brand-grey: #e2e8f0;

  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}